/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background-color: #eee;
    color: #333;
}

h1 {
    font-weight: lighter;
    line-height: 1.1em;
}
h2 {
    margin-top: 2.5em;
}
h2+h3{
    margin-top: 1em;
}
h3{
    margin-top: 2em;
}

a[href^="http:"] {
    text-decoration: none;
    color: #666;
    border-bottom: 1px dotted #3cf;
}
a[href^="http:"]:visited {
    color: #333;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

img,
.index .profile img {
    max-width: 100%;
    height: auto;
}

.side-content .more {
    border-left: 1em solid #3cf;
    padding-left: 0.6em;
    font-size: 0.8em;
    color: #666
}
.side-content .more h3 {
    margin-top: 0; 
    margin-bottom: -1em;
}

.footer {
    margin-top: 2em;
    text-align: center;
}
.footer ul {
    padding: 0;
}
.footer li {
    display: inline;
}
.footer li+li:before {
    content: ' - ';
}
.footer a {
    text-decoration: none;
    color: #ccc;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media (min-width: 700px) {
    .index .wrapper {
        width: auto;
        margin-right: 55%;
    }
    .index .profile {
        position: absolute;
        top: 1.5em;
        right: 5%;
        width: 45%;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 5px;
    }
}

@media (min-width: 1000px) {
    .side-content .wrapper {
        padding-right: 35%;
        width: 55%
    }
    .side-content .more {
        position: relative;
        top: -7em;
        right: -70%;
        float: right;
        width: 60%;
    }
}

@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    .index .wrapper {
        width: 310px;
        padding-right: 716px; /* 666 + 50 margin */
        margin: 0 auto;
        position: relative;
    }
    .index .profile {
        width: 666px;
        top: 0; right: 0;
    }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}